animations/animation_football_2.gif
graph_viz.egg-info/dependency_links.txt
graph_viz.egg-info/entry_points.txt
graph_viz.egg-info/PKG-INFO
graph_viz.egg-info/requires.txt
graph_viz.egg-info/SOURCES.txt
graph_viz.egg-info/top_level.txt
build/lib/graph_viz/__init__.py
build/lib/graph_viz/graph_animation.py
